{
  "openapi": "3.0.0",
  "info": {
    "title": "Application Sender API",
    "version": "0.3",
    "description": "API vom Onlineantragsdienst zum Zustelldienst",
    "contact": {
      "name": "FITKO",
      "url": "https://www.fitko.de/"
    },
    "license": {
      "url": "https://creativecommons.org/licenses/by-sa/4.0/",
      "name": "Creative Commons Attribution Share Alike 4.0 (CC BY-SA 4.0)"
    }
  },
  "servers": [
    {
      "url": "https://sender.fiep-poc.de",
      "description": "Produktionsumgebung der API."
    }
  ],
  "paths": {
    "/{sourceId}/{destinationId}/{applicationId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sourceId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destinationId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "applicationId",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Send Application",
        "operationId": "commit-application",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/status-overview.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Übertragung abschließen, Antrag absenden",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Application Transfer"
        ],
        "security": [
          {
            "API Key": [
              "{sourceId}:application:apply",
              "{sourceId}:source:manage"
            ]
          }
        ]
      }
    },
    "/{sourceId}/{destinationId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sourceId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destinationId",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Create Application",
        "operationId": "create-application",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applicationId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "applicationId": "45bb5b95-d853-4fc5-b45d-10aa9e15287a"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/application/metadata-no-id.json"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "additionalReferenceInfo": {
                      "subject": "Anmeldung eines Gewerbes in Musterstadt",
                      "caseId": "DF/8923"
                    },
                    "contentStructure": {
                      "data": {
                        "size": 9438,
                        "schema": {
                          "mimeType": "json",
                          "schemaSource": "none"
                        }
                      },
                      "docs": [
                        {
                          "docId": "1",
                          "purpose": "form",
                          "size": 39273,
                          "mimeType": "application/pdf",
                          "filename": "antrag.pdf",
                          "description": "Das Antragsformular",
                          "lang": {
                            "lang": "de",
                            "region": "DE"
                          },
                          "hash": {
                            "algorithm": "SHA-256",
                            "digest": "03ba204e50d126e4674c005e04d82e84c21366780af1f43bd54a37816b6ab340"
                          }
                        },
                        {
                          "docId": "2",
                          "purpose": "attachment",
                          "size": 894834874,
                          "mimeType": "image/jpeg",
                          "filename": "scan.jpg",
                          "description": "Scan der Bescheinigung",
                          "hash": {
                            "algorithm": "SHA-256",
                            "digest": "e1762f14d9924e37b32f1c81dfd256410af462f5136415c96877efa8c80345d0"
                          }
                        }
                      ]
                    },
                    "publicServiceType": {
                      "name": "Gewerbeanmeldung",
                      "description": "Eine Gewerbeanmeldung ist immer dann notwendig, wenn Sie einen stehenden Gewerbebetrieb beginnen.",
                      "leikaId": "99050012104000",
                      "otherIdentifiers": [
                        {
                          "id": "8664844",
                          "schemeURI": "service.niedersachsen.de",
                          "schemeName": "Serviceportal Niedersachsen"
                        },
                        {
                          "id": "354824",
                          "schemeURI": "buerger.thueringen.de",
                          "schemeName": "Zuständigkeitsfinder Thüringen"
                        }
                      ]
                    },
                    "applicants": [
                      {
                        "identifier": [
                          {
                            "id": "918",
                            "schemeName": "Antragsportal",
                            "schemeId": "urn:com:example:antragsportal:user"
                          }
                        ],
                        "contactInfo": {
                          "physicalAddress": {
                            "street": "Kurzer Weg",
                            "houseNumber": 7,
                            "postalCode": "12345",
                            "city": "string",
                            "addressSupplement": "string"
                          },
                          "telephone": [
                            {
                              "number": "+49 89 32168-42",
                              "mobile": true,
                              "description": "string"
                            }
                          ],
                          "electronicAddresses": [
                            {
                              "channelType": "Service-Account-Mailbox",
                              "address": "string"
                            }
                          ]
                        },
                        "identityInfo": {
                          "gender": "m",
                          "nationality": "string",
                          "familyName": "string",
                          "givenName": "string",
                          "birthName": "string",
                          "doctoralDegrees": "string",
                          "artisticName": "string",
                          "dateOfBirth": "2020-04-16",
                          "placeOfBirth": "string",
                          "placeOfResidence": {
                            "street": "string",
                            "houseNumber": null,
                            "houseNumberSuffix": "st",
                            "postalCode": "strin",
                            "city": "string",
                            "addressSupplement": "string"
                          }
                        },
                        "authentificationInfo": {
                          "timestamp": "2020-04-16T06:50:39Z",
                          "authentificationToken": {},
                          "authentificationMethod": "string",
                          "assuranceLevel": "low"
                        }
                      }
                    ],
                    "payment-info": {
                      "reference": "TP/93/GDP",
                      "usage": "Gewerbeanmeldung",
                      "amount": 17.3,
                      "timestamp": "2020-03-03T12:38:23Z",
                      "status": "success",
                      "transaction": "1f77c5f9b759db9cdce59988b24974d465c7be5e462a6185485559ff6e2dea82"
                    }
                  }
                }
              }
            }
          },
          "description": "Metadaten des Antrags"
        },
        "description": "Übertragung initiieren",
        "tags": [
          "Application Transfer"
        ],
        "security": [
          {
            "API Key": [
              "{sourceId}:application:apply",
              "{sourceId}:source:manage"
            ]
          }
        ]
      },
      "get": {
        "summary": "Get Destination Info",
        "operationId": "get-destination-info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/destination.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Ruft die Information über eine Destination ab",
        "tags": [
          "Transfer related Information"
        ],
        "security": [
          {
            "API Key": [
              "{sourceId}:destination-info:read",
              "{sourceId}:source:manage"
            ]
          }
        ]
      }
    },
    "/{sourceId}/{destinationId}/{applicationId}/docs/{docId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sourceId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destinationId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "applicationId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "docId",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Add Application Document",
        "operationId": "add-application-doc",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Lädt ein Antragsformuar oder einen Anhang hoch, um ihn dem Antrag hinzuzufügen.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "tags": [
          "Application Transfer"
        ],
        "security": [
          {
            "API Key": [
              "{sourceId}:application:apply",
              "{sourceId}:source:manage"
            ]
          }
        ]
      }
    },
    "/{sourceId}/{destinationId}/{applicationId}/data": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sourceId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destinationId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "applicationId",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Add Application Data",
        "operationId": "add-application-data",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Datensatz übertragen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "example-1": {
                  "value": {
                    "F99000001": "string",
                    "G99000001": {
                      "F99000002": "string",
                      "F99000003": 42
                    },
                    "G99000002": [
                      {
                        "F99000004": true,
                        "G99000001": {
                          "F99000002": "string",
                          "F99000003": 17
                        }
                      },
                      {
                        "F99000004": true,
                        "G99000001": {
                          "F99000002": "string",
                          "F99000003": 24
                        }
                      }
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": "JSON oder XML Daten"
        },
        "tags": [
          "Application Transfer"
        ],
        "security": [
          {
            "API Key": [
              "{sourceId}:application:apply",
              "{sourceId}:source:manage"
            ]
          }
        ]
      }
    },
    "/{sourceId}/{applicationId}/status": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sourceId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "applicationId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Status",
        "tags": [
          "status"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current": {
                      "$ref": "../models/status-overview.json"
                    },
                    "history": {
                      "type": "array",
                      "items": {
                        "$ref": "../models/status-overview.json"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "operationId": "get-application-status",
        "description": "Ruft den aktuellen Status der Übermittlung sowie einer Übersicht der bisherigen Übertragungshistorie ab.",
        "security": [
          {
            "API Key": [
              "{sourceId}:status:read",
              "{sourceId}:source:manage"
            ]
          }
        ]
      }
    },
    "/{sourceId}/{destinationId}/{applicationId}/upload-status": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sourceId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destinationId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "applicationId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Application Upload Status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "missing",
                            "partial",
                            "complete"
                          ]
                        },
                        "length": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "status",
                        "length"
                      ]
                    },
                    "docs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "docId": {
                            "type": "string",
                            "pattern": "^[-_.A-Za-z0-9]+$",
                            "description": "Id des Dokuments. Diese muss nur innerhalb des Antrags (Application) eindeutig sein. Es wird daher empfohlen, die IDs fortlaufend (1, 2 etc.) zu vergeben."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "missing",
                              "partial",
                              "complete"
                            ]
                          },
                          "length": {
                            "type": "integer",
                            "minimum": 0
                          }
                        },
                        "required": [
                          "docId",
                          "status",
                          "length"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "operationId": "get-application-upload-status",
        "description": "Abfrage des Übermittlungsstatus. Listet alle Unterresourcen (data und docs) mit Übermittlungsstatus auf.",
        "tags": [
          "Transfer related Information"
        ],
        "security": [
          {
            "API Key": [
              "{sourceId}:application:apply",
              "{sourceId}:source:manage"
            ]
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Application Transfer"
    },
    {
      "name": "status"
    },
    {
      "name": "Transfer related Information"
    }
  ],
  "components": {
    "securitySchemes": {
      "API Key": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "beispieltokenURL.de",
            "scopes": {
              "{sourceId}:source:manage": "Dieser Zufriffsbereich erlaubt es alle Endpunkte einer ",
              "{sourceId}:destination-info:read": "Dieser Zufriffsbereich erlaubt es Informationen von existierenden Destinationsabzurufen",
              "{sourceId}:status:read": "Dieser Zufriffsbereich erlaubt es auf Statusmitteilungen zu einem übersendeten Antrag abzurufen.",
              "{sourceId}:application:apply": "Dieser Zugriffsbereich erlaubt es Anträge anzulegen, diesen zu aktualisieren und abzusenden."
            },
            "refreshUrl": "beispielrefreshURL.de"
          }
        },
        "description": "Dieses Authentifizierungsmethode wird genutzt, um den Zugriff auf die Produktiv API zu autorisieren. "
      }
    }
  }
}