{
  "openapi": "3.0.0",
  "info": {
    "title": "Application Sender API",
    "version": "0.2",
    "description": "API vom Onlineantragsdienst zum Zustelldienst",
    "contact": {
      "name": "FITKO",
      "url": "https://www.fitko.de/"
    },
    "license": {
      "url": "https://creativecommons.org/licenses/by-sa/4.0/",
      "name": "Creative Commons Attribution Share Alike 4.0 (CC BY-SA 4.0)"
    }
  },
  "servers": [
    {
      "url": "https://sender.fiep-poc.de",
      "description": "Produktionsumgebung der API."
    }
  ],
  "paths": {
    "/{source-id}/{destination-id}/{application-id}/data": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "source-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destination-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "application-id",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Add Application Data",
        "operationId": "add-application-data",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large - Übertragung zu groß",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Datensatz übertragen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": "JSON oder XML Daten"
        },
        "tags": [
          "Application Transfer"
        ],
        "security": [
          {
            "API Key": [
              "{source-id}:application:apply",
              "{source-id}:source:manage"
            ]
          }
        ]
      }
    },
    "/{source-id}/{destination-id}/{application-id}/docs/{doc-id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "source-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destination-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "application-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "doc-id",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Add Application Document",
        "operationId": "add-application-doc",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Acceptable - Falsche doc-id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "410": {
            "description": "Gone - Application-ID ungültig/Transfer-Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large - Attachment zu groß oder Gesamtübertragung zu groß",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - Nicht unterstützter oder falscher Datentyp",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Lädt ein Antragsformuar oder einen Anhang hoch, um ihn dem Antrag hinzuzufügen.",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "tags": [
          "Application Transfer"
        ],
        "security": [
          {
            "API Key": [
              "{source-id}:application:apply",
              "{source-id}:source:manage"
            ]
          }
        ]
      }
    },
    "/{source-id}/{application-id}/status": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "source-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "application-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Status",
        "tags": [
          "status"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current": {
                      "$ref": "../models/status-overview.json"
                    },
                    "history": {
                      "type": "array",
                      "items": {
                        "$ref": "../models/status-overview.json"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "operationId": "get-application-status",
        "description": "Ruft den aktuellen Status der Übermittlung sowie einer Übersicht der bisherigen Übertragungshistorie ab.",
        "security": [
          {
            "API Key": [
              "{source-id}:status:read",
              "{source-id}:source:manage"
            ]
          }
        ]
      }
    },
    "/{source-id}/{destination-id}/{application-id}/upload-status": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "source-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destination-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "application-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Application Upload Status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "missing",
                            "partial",
                            "complete"
                          ]
                        },
                        "length": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "status",
                        "length"
                      ]
                    },
                    "docs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "doc-id": {
                            "type": "string",
                            "pattern": "^[-_.A-Za-z0-9]+$",
                            "description": "ID des Dokuments. Diese muss nur innerhalb des Antrags (Application) eindeutig sein. Es wird daher empfohlen, die IDs fortlaufend (1, 2 etc.) zu vergeben."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "missing",
                              "partial",
                              "complete"
                            ]
                          },
                          "length": {
                            "type": "integer",
                            "minimum": 0
                          }
                        },
                        "required": [
                          "doc-id",
                          "status",
                          "length"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "operationId": "get-application-upload-status",
        "description": "Abfrage des Übermittlungsstatus. Listet alle Unterresourcen (data und docs) mit Übermittlungsstatus auf.",
        "tags": [
          "Transfer related Information"
        ],
        "security": [
          {
            "API Key": [
              "{source-id}:application:apply",
              "{source-id}:source:manage"
            ]
          }
        ]
      }
    },
    "/{source-id}/{destination-id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "source-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destination-id",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Create Application",
        "operationId": "create-application",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application-id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/application/metadata-no-id.json"
              }
            }
          },
          "description": "Metadaten des Antrags"
        },
        "description": "Übertragung initiieren",
        "tags": [
          "Application Transfer"
        ],
        "security": [
          {
            "API Key": [
              "{source-id}:application:apply",
              "{source-id}:source:manage"
            ]
          }
        ]
      },
      "get": {
        "summary": "Get Destination",
        "operationId": "get-destination-info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/destination.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Ruft die Information über eine Destination ab",
        "tags": [
          "Transfer related Information"
        ],
        "security": [
          {
            "API Key": [
              "{source-id}:destination-info:read",
              "{source-id}:source:manage"
            ]
          }
        ]
      }
    },
    "/{source-id}/{destination-id}/{application-id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "source-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destination-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "application-id",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Send Application",
        "operationId": "commit-application",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/status-overview.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "410": {
            "description": "Gone - Application-ID ungültig/Transfer-Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large - Gesamtübertragung zu groß",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Übertragung abschließen, Antrag absenden",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Application Transfer"
        ],
        "security": [
          {
            "API Key": [
              "{source-id}:application:apply",
              "{source-id}:source:manage"
            ]
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Application Transfer"
    },
    {
      "name": "status"
    },
    {
      "name": "Transfer related Information"
    }
  ],
  "components": {
    "securitySchemes": {
      "API Key": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "beispieltokenURL.de",
            "scopes": {
              "{source-id}:application:apply": "Dieser Zugriffsbereich erlaubt es Anträge anzulegen, diesen zu aktualisieren und abzusenden.",
              "{source-id}:status:read": "Dieser Zufriffsbereich erlaubt es auf Statusmitteilungen zu einem übersendeten Antrag abzurufen.",
              "{source-id}:destination-info:read": "Dieser Zufriffsbereich erlaubt es Informationen von existierenden Destinationsabzurufen",
              "{source-id}:source:manage": "Dieser Zufriffsbereich erlaubt es alle Endpunkte einer "
            },
            "refreshUrl": "beispielrefreshURL.de"
          }
        },
        "description": "Dieses Authentifizierungsmethode wird genutzt, um den Zugriff auf die Produktiv API zu autorisieren. "
      }
    }
  }
}