{
  "openapi": "3.0.0",
  "info": {
    "title": "Application Subscriber API",
    "version": "0.2",
    "description": "API vom Fachverfahren zum Zustelldienst",
    "contact": {
      "name": "FITKO",
      "url": "https://www.fitko.de/"
    },
    "license": {
      "name": "Creative Commons Attribution Share Alike 4.0 (CC BY-SA 4.0)",
      "url": "https://creativecommons.org/licenses/by-sa/4.0/"
    }
  },
  "servers": [
    {
      "url": "https://subscriber.fiep-poc.de",
      "description": "Produktionsumgebung der API."
    },
    {
      "url": "https://xfall-sender-api.sandbox.fiep-poc.de",
      "description": "Testumgebung der API."
    }
  ],
  "paths": {
    "/{subscriber-id}/destinations/{destination-id}/applications/{application-id}/docs/{doc-id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "subscriber-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destination-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "application-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "doc-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Application Document",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "operationId": "get-application-document",
        "description": "Ruf ein Dokument (Formular oder Anlage) der Application ab.",
        "tags": [
          "Application Retrieval"
        ],
        "security": [
          {
            "Production API Key": [
              "{subscriber-id}:manage",
              "{subscriber-id}:application:receive",
              "{subscriber-id}:destination:{destination-id}:application:receive"
            ]
          },
          {
            "Sandbox API Key": []
          }
        ]
      }
    },
    "/{subscriber-id}/destinations/{destination-id}/applications/{application-id}/data": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "subscriber-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destination-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "application-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Application Data",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "F99000001": "Eins",
                      "G99000001": {
                        "F99000002": "Zwei",
                        "F99000003": "Drei"
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "operationId": "get-application-data",
        "description": "Ruft die Fachdaten der Application ab.\n\nBeispiele:\n#### JSON\n```json\n{\n    \"F99000001\": \"Eins\",\n    \"G99000001\": {\n        \"F99000002\": \"Zwei\",\n        \"F99000003\": \"Drei\"\n    }\n}\n```\n\n#### XML\n```xml\n<S99000001>\n  <F99000001>Eins</F99000001>\n  <G99000001>\n    <F99000002>Zwei</F99000002>\n    <F99000003>Drei</F99000003>\n  </G99000001>\n</S99000001>\n```",
        "tags": [
          "Application Retrieval"
        ],
        "security": [
          {
            "Production API Key": [
              "{subscriber-id}:manage",
              "{subscriber-id}:application:receive",
              "{subscriber-id}:destination:{destination-id}:application:receive"
            ]
          },
          {
            "Sandbox API Key": []
          }
        ]
      }
    },
    "/{subscriber-id}/destinations/{destination-id}/applications/{application-id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "subscriber-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destination-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "application-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Application Metadata",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/application/metadata.json"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "application-id": "7236",
                      "additional-reference-info": {
                        "subject": "Anmeldung eines Gewerbes in Musterstadt",
                        "case-id": "DF/8923"
                      },
                      "content-structure": {
                        "data": {
                          "schema-id": "742",
                          "mime-type": "json"
                        },
                        "docs": [
                          {
                            "doc-id": "1",
                            "purpose": "form",
                            "size": 39273,
                            "mime": "application/pdf",
                            "filename": "antrag.pdf",
                            "description": "Das Antragsformular",
                            "lang": {
                              "lang": "de",
                              "region": "DE"
                            },
                            "hash": {
                              "algorithm": "SHA-256",
                              "digest": "03ba204e50d126e4674c005e04d82e84c21366780af1f43bd54a37816b6ab340"
                            }
                          },
                          {
                            "doc-id": "2",
                            "purpose": "attachment",
                            "size": 894834874,
                            "mime": "image/jpeg",
                            "filename": "scan.jpg",
                            "description": "Scan der Bescheinigung",
                            "hash": {
                              "algorithm": "SHA-256",
                              "digest": "e1762f14d9924e37b32f1c81dfd256410af462f5136415c96877efa8c80345d0"
                            }
                          }
                        ]
                      },
                      "public-service-type": {
                        "name": "Gewerbeanmeldung",
                        "description": "Eine Gewerbeanmeldung ist immer dann notwendig, wenn Sie einen stehenden Gewerbebetrieb beginnen.",
                        "leika-id": "99050012104000",
                        "other-identifiers": [
                          {
                            "id": "8664844",
                            "schemeURI": "service.niedersachsen.de",
                            "schemeName": "Serviceportal Niedersachsen"
                          },
                          {
                            "id": "354824",
                            "schemeURI": "buerger.thueringen.de",
                            "schemeName": "Zuständigkeitsfinder Thüringen"
                          }
                        ]
                      },
                      "applicants": [
                        {
                          "person": {
                            "form-of-address": "Herr",
                            "academic-title": "Dr.",
                            "first-name": "Werner",
                            "last-name": "Mustermann"
                          },
                          "identification": {
                            "authentication": {
                              "assurance-level": "high",
                              "authentification-method": "eID",
                              "timestamp": "2020-03-03T12:38:23Z"
                            },
                            "authenticated-data": {
                              "family-name": "MUSTERMANN",
                              "given-name": "WERNER",
                              "date-of-birth": "13091970",
                              "place-of-resicence": {
                                "street": "KURZER WEG 7",
                                "postal-code": "12345",
                                "city": "ANKH-MORPORK"
                              }
                            }
                          }
                        }
                      ],
                      "payment-info": {
                        "reference": "TP/93/GDP",
                        "usage": "Gewerbeanmeldung",
                        "amount": 17.3,
                        "timestamp": "2020-03-03T12:38:23Z",
                        "status": "success",
                        "transaction": "1f77c5f9b759db9cdce59988b24974d465c7be5e462a6185485559ff6e2dea82"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "operationId": "get-application",
        "description": "Ruft eine wartende Application ab.",
        "tags": [
          "Application Retrieval"
        ],
        "security": [
          {
            "Production API Key": [
              "{subscriber-id}:manage",
              "{subscriber-id}:application:receive",
              "{subscriber-id}:destination:{destination-id}:application:receive"
            ]
          },
          {
            "Sandbox API Key": []
          }
        ]
      },
      "post": {
        "summary": "Acknowledge Application",
        "operationId": "ack-application",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "417": {
            "description": "Expectation Failed - Status passt nicht",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Bestätigt die Abholung der Application. Über den Parameter `final-delivery` im Body wird gesteuert, wie der Folgestatus aussieht:\n\n| final-delivery | status      |\n| -------------- | ----------- |\n| `false`        | \"forwarded\" |\n| `true`         | \"delivered\" |\n\nDer Parameter `final-delivery` zeigt an, ob der Antrag noch weitergesendet wird (`false`) oder das finale Ziel erreicht hat (`true`).\n\nSofern der Wert `false` übergeben wurde, muss zu einem späteren Zeitpunkt, wenn der Antrag final zugestellt wurde, ein weiterer Aufruf mit dem Wert `true` erfolgen.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "final-delivery": {
                    "type": "boolean",
                    "description": "Zeigt an, ob die Zustellung zum nächsten Hop (`false`) oder bis zum Endpunkt (`true`) erfolgt ist."
                  }
                }
              }
            }
          },
          "description": "Details der Quittung"
        },
        "tags": [
          "Application Retrieval"
        ],
        "security": [
          {
            "Production API Key": [
              "{subscriber-id}:manage",
              "{subscriber-id}:application:receive",
              "{subscriber-id}:destination:{destination-id}:application:receive"
            ]
          },
          {
            "Sandbox API Key": []
          }
        ]
      }
    },
    "/{subscriber-id}/destinations/{destination-id}/applications": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "subscriber-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "destination-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "List Applications",
        "operationId": "list-applications",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "../models/application/metadata.json"
                  }
                },
                "examples": {
                  "example-1": {
                    "value": []
                  },
                  "example-2": {
                    "value": [
                      {
                        "application-id": "7236",
                        "additional-reference-info": {
                          "subject": "Anmeldung eines Gewerbes in Musterstadt",
                          "case-id": "DF/8923"
                        },
                        "content-structure": {
                          "data": {
                            "schema-id": "742",
                            "mime-type": "json"
                          },
                          "docs": [
                            {
                              "doc-id": "1",
                              "purpose": "form",
                              "size": 39273,
                              "mime": "application/pdf",
                              "filename": "antrag.pdf",
                              "description": "Das Antragsformular",
                              "lang": {
                                "lang": "de",
                                "region": "DE"
                              },
                              "hash": {
                                "algorithm": "SHA-256",
                                "digest": "03ba204e50d126e4674c005e04d82e84c21366780af1f43bd54a37816b6ab340"
                              }
                            },
                            {
                              "doc-id": "2",
                              "purpose": "attachment",
                              "size": 894834874,
                              "mime": "image/jpeg",
                              "filename": "scan.jpg",
                              "description": "Scan der Bescheinigung",
                              "hash": {
                                "algorithm": "SHA-256",
                                "digest": "e1762f14d9924e37b32f1c81dfd256410af462f5136415c96877efa8c80345d0"
                              }
                            }
                          ]
                        },
                        "public-service-type": {
                          "name": "Gewerbeanmeldung",
                          "description": "Eine Gewerbeanmeldung ist immer dann notwendig, wenn Sie einen stehenden Gewerbebetrieb beginnen.",
                          "leika-id": "99050012104000",
                          "other-identifiers": [
                            {
                              "id": "8664844",
                              "schemeURI": "service.niedersachsen.de",
                              "schemeName": "Serviceportal Niedersachsen"
                            },
                            {
                              "id": "354824",
                              "schemeURI": "buerger.thueringen.de",
                              "schemeName": "Zuständigkeitsfinder Thüringen"
                            }
                          ]
                        },
                        "applicants": [
                          {
                            "person": {
                              "form-of-address": "Herr",
                              "academic-title": "Dr.",
                              "first-name": "Werner",
                              "last-name": "Mustermann"
                            },
                            "identification": {
                              "authentication": {
                                "assurance-level": "high",
                                "authentification-method": "eID",
                                "timestamp": "2020-03-03T12:38:23Z"
                              },
                              "authenticated-data": {
                                "family-name": "MUSTERMANN",
                                "given-name": "WERNER",
                                "date-of-birth": "13091970",
                                "place-of-resicence": {
                                  "street": "KURZER WEG 7",
                                  "postal-code": "12345",
                                  "city": "ANKH-MORPORK"
                                }
                              }
                            }
                          }
                        ],
                        "payment-info": {
                          "reference": "TP/93/GDP",
                          "usage": "Gewerbeanmeldung",
                          "amount": 17.3,
                          "timestamp": "2020-03-03T12:38:23Z",
                          "status": "success",
                          "transaction": "1f77c5f9b759db9cdce59988b24974d465c7be5e462a6185485559ff6e2dea82"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Ruft die Liste der wartenden Applications ab.",
        "tags": [
          "Application Retrieval"
        ],
        "security": [
          {
            "Production API Key": [
              "{subscriber-id}:manage",
              "{subscriber-id}:application:receive",
              "{subscriber-id}:destination:{destination-id}:application:receive"
            ]
          },
          {
            "Sandbox API Key": []
          }
        ]
      }
    },
    "/{subscriber-id}/destinations/{destination-id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "destination-id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "subscriber-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Destination",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/destination.json"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "destination-id": "52",
                      "organization": {
                        "organization-name": "Umweltamt Ankh-Morpork",
                        "address": {
                          "street": "Kurzer Weg",
                          "houseNr": "7",
                          "postalCode": "12345",
                          "city": "Ankh-Morpork"
                        },
                        "contact": {
                          "telephone": {
                            "number": "+49 89 32168-0",
                            "type": "work"
                          },
                          "email": "behoerde@example.com"
                        }
                      },
                      "technical-contact": {
                        "formOfAddress": "Herr",
                        "academicTitle": "Dr.",
                        "firstName": "Kunibert",
                        "lastName": "Vonundzu",
                        "contact": {
                          "telephone": {
                            "number": "+49 89 32168-42",
                            "mobile": "+49 123 456789",
                            "type": "work"
                          },
                          "email": "kunibert.vonundzu@example.com"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "operationId": "get-destination",
        "description": "Übertragungsziel abfragen",
        "tags": [
          "Destination Management"
        ],
        "security": [
          {
            "Production API Key": [
              "{subscriber-id}:destination:read",
              "{subscriber-id}:destination:manage",
              "{subscriber-id}:manage",
              "{subscriber-id}:destination:{destination-id}:read"
            ]
          },
          {
            "Sandbox API Key": []
          }
        ]
      },
      "put": {
        "summary": "Update Destination",
        "operationId": "update-destination",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Übertragungsziel aktualisieren",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/destination.json"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "destination-id": "83578",
                    "organization": {
                      "organization-name": "Gewerbeamt Musterhausen"
                    },
                    "technical-contact": [
                      {
                        "first-name": "Werner",
                        "last-name": "Mustermann",
                        "contact": {
                          "telephone": [
                            {
                              "number": "+49 89 32168-42",
                              "mobile": false,
                              "type": "work"
                            }
                          ]
                        }
                      }
                    ],
                    "callback": {
                      "callback-url": "https://www.example.com/callback"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Destination Management"
        ],
        "security": [
          {
            "Production API Key": [
              "{subscriber-id}:manage",
              "{subscriber-id}:destination:update",
              "{subscriber-id}:destination:manage",
              "{subscriber-id}:destination:{destination-id}:update"
            ]
          },
          {
            "Sandbox API Key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Destination",
        "operationId": "delete-destination",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Übertragungsziel löschen",
        "tags": [
          "Destination Management"
        ],
        "security": [
          {
            "Production API Key": [
              "{subscriber-id}:manage",
              "{subscriber-id}:destination:manage",
              "{subscriber-id}:destination:delete",
              "{subscriber-id}:destination:{destination-id}:delete"
            ]
          },
          {
            "Sandbox API Key": []
          }
        ]
      }
    },
    "/{subscriber-id}/destinations": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "subscriber-id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "List Destinations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "../models/destination.json"
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "destination-id": "83578",
                        "organization": {
                          "organization-name": "Gewerbeamt Musterhausen"
                        },
                        "technical-contact": [
                          {
                            "first-name": "Werner",
                            "last-name": "Mustermann",
                            "contact": {
                              "telephone": [
                                {
                                  "number": "+49 89 32168-42",
                                  "mobile": false,
                                  "type": "work"
                                }
                              ]
                            }
                          }
                        ],
                        "callback": {
                          "callback-url": "https://www.example.com/callback"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "operationId": "list-destinations",
        "description": "Ruft die Liste aller Destinations dieses Accounts auf.",
        "tags": [
          "Destination Management"
        ],
        "security": [
          {
            "Production API Key": [
              "{subscriber-id}:destination:read",
              "{subscriber-id}:manage",
              "{subscriber-id}:destination:manage"
            ]
          },
          {
            "Sandbox API Key": []
          }
        ]
      },
      "post": {
        "summary": "Create Destination",
        "operationId": "create-destination",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "destination-id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "destination-id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/error-body.json"
                }
              }
            }
          }
        },
        "description": "Legt eine neue Destination an.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/destination-no-id.json"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "organization": {
                      "address": {
                        "street": "Kurzer Weg",
                        "houseNr": "7",
                        "postalCode": "12345",
                        "city": "Ankh-Morpork"
                      },
                      "contact": {
                        "telephone": {
                          "number": "+49 89 32168-0",
                          "type": "work"
                        },
                        "email": "behoerde@example.com"
                      }
                    },
                    "technical-contact": {
                      "formOfAddress": "Herr",
                      "academicTitle": "Dr.",
                      "firstName": "Kunibert",
                      "lastName": "Vonundzu",
                      "contact": {
                        "telephone": {
                          "number": "+49 89 32168-42",
                          "mobile": "+49 123 456789",
                          "type": "work"
                        },
                        "email": "kunibert.vonundzu@example.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "description": "Anzulegende Destination"
        },
        "tags": [
          "Destination Management"
        ],
        "security": [
          {
            "Production API Key": [
              "{subscriber-id}:manage",
              "{subscriber-id}:destination:manage",
              "{subscriber-id}:destination:create"
            ]
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Destination Management"
    },
    {
      "name": "Application Retrieval"
    }
  ],
  "components": {
    "securitySchemes": {
      "Production API Key": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "",
            "refreshUrl": "",
            "scopes": {
              "{subscriber-id}:destination:read": "Dieser Zugriffsbereich erlaubt bei allen Destination-Informationen ein lesender Zugriff.",
              "{subscriber-id}:destination:create": "Der Zugriffsbereich erlaubt Destinations neu anzulegen und zu verändern.",
              "{subscriber-id}:destination:update": "Dieser Zugriffsbereich erlaubt es, bestehende Destinations zu verändern.",
              "{subscriber-id}:destination:manage": "Dieser Zugriffsbereich alle Destination Endpunkte eines Subscriber genutzt werden.",
              "{subscriber-id}:destination:{destination-id}:read": "Mit diesem Zugriffsbereich wird ein lesender Zugriff auf eine spezifische Destination ermöglicht.",
              "{subscriber-id}:destination:{destination-id}:update": "Mit diesem Zugriffsbereich wird ein schreibende Zugriff auf eine spezifische Destination ermöglicht.",
              "{subscriber-id}:application:receive": "Dieser Zugriffsbereich erlaubt es, Anträge für allen Destinations abzuholen.",
              "{subscriber-id}:destination:{destination-id}:application:receive": "Dieser Zugriffsbereich erlaubt es, Anträge einer spezifischen Destination abzuholen.",
              "{subscriber-id}:manage": "Dieser Zugriffsbereich die vollständige Nutzung aller Endpunkte eines Subscribers.",
              "{subscriber-id}:destination:delete": "Dieser Zugriffsbereich erlaubt die Löschung von Destinations eines Accounts.",
              "{subscriber-id}:destination:{destination-id}:delete": "Dieser Zugriffsbereich erlaubt es, eine spezifische Destination zu löschen."
            }
          }
        },
        "description": "Dieses Authentifizierungsmethode wird genutzt, um den Zugriff auf die Produktiv API zu autorisieren. "
      },
      "Sandbox API Key": {
        "name": "API-Key",
        "type": "apiKey",
        "in": "header",
        "description": "Der API-Key wird als Authentifizierungsmittel für die Sandbox API benutzt."
      }
    }
  }
}